server:
  port: 8084

spring:
  application:
    name: disciplina-service

  datasource:
    url: jdbc:postgresql://localhost:5432/disciplinadb
    username: postgres
    password: postgree123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
